In [7]:
import pandas as pd

In [8]:
df=pd.read_csv('corrected_calender2.csv')
df

           date
0    01/01/1997
1    01/02/1997
2    01/03/1997
3    01/04/1997
4    01/05/1997
..          ...
725  27/12/1998
726  28/12/1998
727  29/12/1998
728  30/12/1998
729  31/12/1998

[730 rows x 1 columns]

In [10]:
df.dtypes

date    object
dtype: object

In [12]:
df['date']=df['date'].astype('datetime64[ns]')

In [14]:
print(df['date'].head())

0   1997-01-01
1   1997-01-02
2   1997-01-03
3   1997-01-04
4   1997-01-05
Name: date, dtype: datetime64[ns]